<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <!--<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" href="~/wwwroot/asset/fontawesome-free-5.15.3-web/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/wwwroot/asset/fontawesome-free-5.15.3-web/css/all.min.css">
    <link rel="stylesheet" href="~/wwwroot/styles/admin/index.css">
    <link rel="stylesheet" href="~/wwwroot/styles/admin/sidebar.css">
    <link rel="stylesheet" href="~/wwwroot/styles/admin/header.css">
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    @RenderSection("loadScript", required: false)
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!--Draw chi tiết tài khoản người dùng -->
    @RenderSection("draw", required: false)

    <!--Giao diện chính-->
    <div class="admin_dashboard">

        @{
            Html.RenderPartial("SideBar");
        }

        <!--Giao diện content-->
        <section class="content">

            <!--Header + Search-->
            @{
                if (ViewContext.RouteData.Values["Controller"].ToString() != "Profile")
                {
                    Html.RenderPartial("Header");
                }
            }

            @RenderBody()
        </section>
    </div>
</body>
</html>
