
@{
    ViewBag.Title = "Header";
}

<div class="header">
    <div class="header_left">
        <span class="icon">
            <i class="fas fa-search"></i>
        </span>
        <form>
            <input type="text" class="search" placeholder="Tìm kiếm...">
        </form>
    </div>
    <div class="header_right">
        <span class="icon">
            <i class="far fa-bell"></i>
        </span>
        <span class="icon">
            <i class="far fa-comment"></i>
        </span>
        <img src="~/wwwroot/asset/images/default-avatar.jpg" width="65px" height="65px" alt="" />
    </div>
</div>

