
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>Đăng nhập | Đăng kí</title>

    <link href="~/wwwroot/User/css/animate.css" rel="stylesheet">
    <link href="~/wwwroot/User/css/main.css" rel="stylesheet">
    <link href="~/wwwroot/User/css/responsive.css" rel="stylesheet">
    <script src="~/wwwroot/User/js/html5shiv.js"></script>
    <script src="~/wwwroot/User/js/respond.min.js"></script>
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/wwwroot/User/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/wwwroot/Userimages/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/wwwroot/User/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/wwwroot/User/images/ico/apple-touch-icon-57-precomposed.png">




</head><!--/head-->

<body>
    <!--header bố cục trang -->
    <!--header bố cục trang -->

    <section id="form">
        <!--form-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="login-form">
                        <!--login form-->
                        <h2>Đăng nhập</h2>
                        <form action="#">
                            <input type="text" placeholder="Tên đăng nhập" />
                            <input type="password" placeholder="Mật khẩu" />
                            <span>
                                <input type="checkbox" class="checkbox">
                                Lưu tài khoản
                            </span>
                            <button type="submit" class="btn btn-default">Đăng nhập</button>
                        </form>
                    </div><!--/login form-->
                </div>
                <div class="col-sm-1">
                    <h2 class="or">OR</h2>
                </div>
                <div class="col-sm-4">
                    <div class="signup-form">
                        <!--sign up form-->
                        <h2>Đăng kí</h2>
                        <form action="#">
                            <input type="text" placeholder="Tên đăng nhập" />
                            <input type="email" placeholder="Địa chỉ email" />
                            <input type="password" placeholder="Mật khẩu" />
                            <input type="password" placeholder="Nhập lại mật khẩu" />
                            <button type="submit" class="btn btn-default">Đăng kí</button>
                        </form>
                    </div><!--/sign up form-->
                </div>
            </div>
        </div>
    </section><!--/form-->
    <!--footer bố cục trang -->
    <div class="review my-5">
        <h3 class="text-center text-color">REVIEWS</h3>
        <div class="row container">

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="p-4 text-center">
                    <img class="rounded-circle" src="https://tamanh.net/wp-content/uploads/2019/03/nguyen-dinh-thien-nvvp-min.png" alt="">
                </div>
                <div class="text-center">
                    <h5>NGUYỄN ĐÌNH THIỆN</h5>
                    <p>Nhân viên văn phòng</p>
                </div>
                <p class="text-justify">
                    Mình đã mua ví của Tâm Anh cho bản thân dùng cũng như mua tặng khá nhiều. Chất lượng ví Tâm Anh mình thấy trội hơn hẳn các nhãn khác với cùng mức giá vì dùng lâu mà chất da vẫn mềm. Mẫu ví thì khá hợp ý mình vì có nhiều ngăn đựng thẻ (tiện cho người ít dùng tiền mặt như mình
                </p>
                <p class="text-center">
                    2020-11-24 13:34:17- <i class="fas fa-star text-color"></i>
                    <i class="fas fa-star text-color"></i>
                    <i class="fas fa-star text-color"></i>
                    <i class="fas fa-star text-color"></i>
                    <i class="fas fa-star text-color"></i>
                </p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="p-4 text-center">
                    <img class="rounded-circle" src="https://tamanh.net/wp-content/uploads/2019/03/nguyen-dinh-thien-nvvp-min.png" alt="">
                </div>
                <div class="text-center">
                    <h5>NGUYỄN ĐÌNH THIỆN</h5>
                    <p>Nhân viên văn phòng</p>
                </div>
                <p class="text-justify">
                    Mình đã mua ví của Tâm Anh cho bản thân dùng cũng như mua tặng khá nhiều. Chất lượng ví Tâm Anh mình thấy trội hơn hẳn các nhãn khác với cùng mức giá vì dùng lâu mà chất da vẫn mềm. Mẫu ví thì khá hợp ý mình vì có nhiều ngăn đựng thẻ (tiện cho người ít dùng tiền mặt như mình
                </p>
                <p class="text-center">
                    2020-11-24 13:34:17- <i class="fas fa-star text-color"></i>
                    <i class="fas fa-star text-color"></i>
                    <i class="fas fa-star text-color"></i>
                    <i class="fas fa-star text-color"></i>
                    <i class="fas fa-star text-color"></i>
                </p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="p-4 text-center">
                    <img class="rounded-circle" src="https://tamanh.net/wp-content/uploads/2019/03/nguyen-dinh-thien-nvvp-min.png" alt="">
                </div>
                <div class="text-center">
                    <h5>NGUYỄN ĐÌNH THIỆN</h5>
                    <p>Nhân viên văn phòng</p>
                </div>
                <p class="text-justify">
                    Mình đã mua ví của Tâm Anh cho bản thân dùng cũng như mua tặng khá nhiều. Chất lượng ví Tâm Anh mình thấy trội hơn hẳn các nhãn khác với cùng mức giá vì dùng lâu mà chất da vẫn mềm. Mẫu ví thì khá hợp ý mình vì có nhiều ngăn đựng thẻ (tiện cho người ít dùng tiền mặt như mình
                </p>
                <p class="text-center">
                    2020-11-24 13:34:17- <i class="fas fa-star text-color"></i>
                    <i class="fas fa-star text-color"></i>
                    <i class="fas fa-star text-color"></i>
                    <i class="fas fa-star text-color"></i>
                    <i class="fas fa-star text-color"></i>
                </p>
            </div>


        </div>
    </div>
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="single-widget">
                        <h2>Dịch vụ</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Điều khoản và dịch vụ</a></li>
                            <li><a href="#">Hướng dẫn mua hàng</a></li>
                            <li><a href="#">Thông tin chuyển khoản</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-4">
                    <div class="single-widget">
                        <h2>Chính sách</h2>
                        <ul class="p-0">
                            <li><a href="#">Chính sách vận chuyển</a></li>
                            <li><a href="#">Chính sách đổi trả</a></li>
                            <li><a href="#">Chính sách bảo hành sản phẩm</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-4">
                    <div class="single-widget">
                        <h2>Đăng kí Email</h2>
                        <form action="#" class="searchform">
                            <input type="text" class="form-control my-3" placeholder="Vui lòng điền Email " />
                            <p>Để nhận những thông tin khuyến mãi <br /></p>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <script src="js/jquery.js"></script>
    <script src="js/price-range.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>
</html>