
@{
    ViewBag.Title = "GioiThieu";
}

<div class="container">

    <div class="row">
        <div class="header_gt col-5">
            <h2 class="mt-4">Đồ Da Tâm Anh chuyên cung cấp các mặt hàng thời trang cao cấp cho nam</h2>
            <span class="line"></span>
            <div class="textwidget">
                <ul class="mx-0 my-5 p-0">
                    <li class="my-3">
                        <img class="size-full wp-image-150 alignleft rounded-circle"
                             src="https://icon2.cleanpng.com/20180330/sxw/kisspng-check-mark-computer-icons-clip-art-green-tick-5abe6e2d88aca0.5352612615224294855598.jpg"
                             alt="" width="22" height="22">Đồ da Tâm Anh tiền thân là xưởng sản xuất da được hình
                        thành từ năm 1991 tại khu tập thể thuộc da Thái Bình.
                    </li>
                    <li>
                        <img class="alignnone size-full wp-image-150 rounded-circle alignleft"
                             src="https://icon2.cleanpng.com/20180330/sxw/kisspng-check-mark-computer-icons-clip-art-green-tick-5abe6e2d88aca0.5352612615224294855598.jpg"
                             alt="" width="22" height="22">Trải qua nhiều năm xây dựng và phát triển, Công ty
                        Tổng hợp đồ da Tâm Anh đã trở thành cái tên quen thuộc, được nhiều người biết đến tại Hà
                        Nội.
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="text-center">
        <img src="https://tamanh.net/wp-content/themes/banhang/images/number_one.png" alt="">
        <h2 class="my-2">Nhiệm vụ, tầm nhìn và giá trị</h2>
    </div>
    <div class="row align-items-center  my-5">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="img_hover">
                <img class="w-100"
                     src="https://tamanh.net/wp-content/uploads/2019/05/giay-luoi-nam-da-bo-gnta8969-d-3-1.jpg"
                     alt="">
            </div>

        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="p-5">
                <div class="text-center">

                </div>
                <div class="text-hover my-3">
                    <h3>Đặc điểm chung sản phẩm giày lười nam GNTA8969-D:</h3>

                </div>
                <div class="">
                    <p>
                        <i class="text-color fa-1x me-2 fas fa-dot-circle"></i>Chất liệu da bò cao cấp, da thật
                        100%
                    </p>
                    <p>
                        <i class="text-color fa-1x me-2 fas fa-dot-circle"></i>Form giày ôm chân, thiết kế trẻ
                        trung hiện đại
                    </p>
                    <p><i class="text-color fa-1x me-2 fas fa-dot-circle"></i>Đường chỉ may tỉ mỉ, tinh tế</p>
                    <p>
                        <i class="text-color fa-1x me-2 fas fa-dot-circle"></i>Đế chống trơn trượt, thời trang
                    </p>
                    <p><i class="text-color fa-1x me-2 fas fa-dot-circle"></i>Màu: Đen</p>
                </div>

            </div>
        </div>

    </div>
    <div class="row  align-items-center my-5">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h3>Chi tiết đế giày</h3>
            <p class="text-justify">
                <i class="text-color fa-1x me-2 fas fa-dot-circle"></i>Đế giày được thiết kế
                chắc chắn với lớp cao su non hiện đại mang lại cảm
                giác thoải mái khi sử dụng.
            </p>
            <p>
                <i class="text-color fa-1x me-2 fas fa-dot-circle"></i>Thiết kế xẻ rãnh chống trơn trượt khi sử
                dụng.
            </p>
            <p><i class="text-color fa-1x me-2 fas fa-dot-circle"></i>Thiết kế đế thời trang, hiện đại.</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="img_hover">
                <img class="w-100"
                     src="https://tamanh.net/wp-content/uploads/2019/05/giay-luoi-nam-da-bo-gnta8969-d-1-2.jpg"
                     alt="">
            </div>
        </div>
    </div>
    <div class="row align-items-center  my-5">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="img_hover">
                <img class="w-100"
                     src="https://tamanh.net/wp-content/uploads/2019/05/giay-luoi-nam-da-bo-gnta8969-d-3-1.jpg"
                     alt="">
            </div>

        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="p-5">
                <div class="text-center">

                </div>
                <div class="text-hover my-3">
                    <h3>Chính sách sản phẩm</h3>

                </div>
                <div class="">
                    <p>
                        <i class="text-color fa-1x me-2 fas fa-dot-circle"></i>Sản xuất và độc quyền tại Đồ da
                        Tâm Anh
                    </p>
                    <p><i class="text-color fa-1x me-2 fas fa-dot-circle"></i>Bảo hành 12 tháng</p>
                    <p>
                        <i class="text-color fa-1x me-2 fas fa-dot-circle"></i>Giao hàng toàn quốc, thanh toán
                        sau khi nhận hàng
                    </p>
                    <p>
                        <i class="text-color fa-1x me-2 fas fa-dot-circle"></i>Đổi trả hàng trong vòng 15 ngày
                    </p>
                </div>

            </div>
        </div>

    </div>
</div>
