@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<BTL.Models.SanPham>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://tamanh.net/wp-content/uploads/2021/02/banner-trang-chu-1366x450.jpg" class="d-block w-100" alt="..." style="height: 700px">
            <div class="carousel-caption d-none d-md-block">
                <h5>ĐỒ DA TÂM ANH</h5>
                <p>Thương hiệu đồ da số 1 Việt Nam</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://top10vietnam.vn/wp-content/uploads/2021/06/cua-hang-do-da-thuong-hieu-tam-anh.jpg" class="d-block w-100" alt="..." style="height: 700px"v>
            <div class="carousel-caption d-none d-md-block">
                <h5>ĐỒ DA TÂM ANH</h5>
                <p>Sản phẩm đa dạng, có nhiều sự lựa chọn cho người mua</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://toplist.vn/images/800px/do-da-tam-anh-302329.jpg" class="d-block w-100" alt="..." style="height: 700px" >
            <div class="carousel-caption d-none d-md-block">
                <h5>ĐỒ DA TÂM ANH</h5>
                <p>Chất lượng đảm bảo, đã được kiểm chứng</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>

<p class="py-3 text-center border-bottom">Tất cả sản phẩm đều được bảo hành 12 Tháng — Đền 10 Lần giá trị đơn hàng nếu không đúng da thật!</p>
<div class="swiper-container container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        @foreach (var item in Model)
        {
        <div class="swiper-slide">
            <a href="@Url.Action("SanPhamChiTiet", "Home",new { id=item.maSanPham})">

                @{
                    string ImagePath = "~/wwwroot/Images/" + item.anh;
                    <img src="@Url.Content(ImagePath)" alt="" width="250" height="250" />
                }
                <h5 class="text-uppercase my-2 text-center my-2">

                    @Html.DisplayFor(modelItem => item.tenSanPham)

                </h5>
            </a>

        </div>
        }
    </div>
    <!-- If we need pagination -->
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
</div>

<div class="row align-items-center container my-5">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="img_hover">
            <img src="https://tamanh.net/wp-content/uploads/2019/03/img-suutap1-2-min.jpg" alt="">
        </div>

    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <img src="https://tamanh.net/wp-content/themes/banhang/images/number_one.png" alt="">
            </div>
            <div class="text-hover text-center my-3">
                <h3>ẤN TƯỢNG</h3>
                <h3 class="text-color">TỪ MỘT THƯƠNG HIỆU</h3>

            </div>
            <p class="text-justify">Đồ Da Tâm Anh chuyên cung cấp các phụ kiện thời trang từ da thật cho nam với kinh nghiệm hơn 20 năm sản xuất đồ da thật uy tín trên thị trường các dòng phụ kiện da: Giày, Ví, Thắt lưng, Túi xách, Găng Tay, Dây đồng hồ.</p>
            <p class="text-justify">Đồ da Tâm Anh đã và đang khẳng định vị thế của mình trong lòng phái mạnh bằng chất lượng sản phẩm, đây cũng chính là giá trị cốt lõi và là điều làm Tâm Anh trở nên khác biệt suốt 20 năm qua cùng với nhiều giải thưởng uy tín trong nước như: Top 5 thương hiệu Việt tiêu dùng; Sản phẩm, dịch vụ vàng Việt Nam…</p>
        </div>
    </div>

</div>
<div class="row container my-5">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h3>TINH XẢO TRONG TỪNG THIẾT KẾ</h3>
        <p class="text-justify">Đồ Da Tâm Anh chuyên cung cấp các phụ kiện thời trang từ da thật cho nam với kinh nghiệm hơn 20 năm sản xuất đồ da thật uy tín trên thị trường các dòng phụ kiện da: Giày, Ví, Thắt lưng, Túi xách, Găng Tay, Dây đồng hồ.</p>
        <p class="text-justify">Đồ da Tâm Anh đã và đang khẳng định vị thế của mình trong lòng phái mạnh bằng chất lượng sản phẩm, đây cũng chính là giá trị cốt lõi và là điều làm Tâm Anh trở nên khác biệt suốt 20 năm qua cùng với nhiều giải thưởng uy tín trong nước như: Top 5 thương hiệu Việt tiêu dùng; Sản phẩm, dịch vụ vàng Việt Nam…</p>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="img_hover">
            <img src="https://tamanh.net/wp-content/uploads/2019/03/img-suutap2-min.jpg" alt="">
        </div>
    </div>
</div>
@{ 
    Html.RenderAction("_Aside", "Home");
}
