@{
    ViewBag.Title = "Home Page";
}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://tamanh.net/wp-content/uploads/2021/02/banner-trang-chu-1366x450.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://tamanh.net/wp-content/uploads/2021/02/banner-trang-chu-1366x450.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://tamanh.net/wp-content/uploads/2021/02/banner-trang-chu-1366x450.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>

<p class="py-3 text-center border-bottom">Tất cả sản phẩm đều được bảo hành 12 Tháng — Đền 10 Lần giá trị đơn hàng nếu không đúng da thật!</p>
<div class="swiper-container container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <img src="https://tamanh.net/wp-content/uploads/2020/05/danh-muc-vi.jpg" alt="">
            <h5 class="text-uppercase my-2 text-center my-2">ví da nam</h5>
        </div>
        <div class="swiper-slide">
            <img src="https://tamanh.net/wp-content/uploads/2020/05/danh-muc-vi.jpg" alt="">
            <h5 class="text-uppercase my-2 text-center">Thắt lưng nam</h5>
        </div>
        <div class="swiper-slide">
            <img src="https://tamanh.net/wp-content/uploads/2020/05/danh-muc-vi.jpg" alt="">
            <h5 class="text-uppercase my-2 text-center">Túi xách nam</h5>
        </div>
        <div class="swiper-slide">
            <img src="https://tamanh.net/wp-content/uploads/2020/05/danh-muc-vi.jpg" alt="">
            <h5 class="text-uppercase my-2 text-center">Găng tay da</h5>
        </div>
        <div class="swiper-slide">
            <img src="https://tamanh.net/wp-content/uploads/2020/05/danh-muc-vi.jpg" alt="">
            <h5 class="text-uppercase my-2 text-center">Dây da đồng hồ</h5>
        </div>
    </div>
    <!-- If we need pagination -->
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->


</div>

<div class="row align-items-center container my-5">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="img_hover">
            <img src="https://tamanh.net/wp-content/uploads/2019/03/img-suutap1-2-min.jpg" alt="">
        </div>

    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <img src="https://tamanh.net/wp-content/themes/banhang/images/number_one.png" alt="">
            </div>
            <div class="text-hover text-center my-3">
                <h3>ẤN TƯỢNG</h3>
                <h3 class="text-color">TỪ MỘT THƯƠNG HIỆU</h3>

            </div>
            <p class="text-justify">Đồ Da Tâm Anh chuyên cung cấp các phụ kiện thời trang từ da thật cho nam với kinh nghiệm hơn 20 năm sản xuất đồ da thật uy tín trên thị trường các dòng phụ kiện da: Giày, Ví, Thắt lưng, Túi xách, Găng Tay, Dây đồng hồ.</p>
            <p class="text-justify">Đồ da Tâm Anh đã và đang khẳng định vị thế của mình trong lòng phái mạnh bằng chất lượng sản phẩm, đây cũng chính là giá trị cốt lõi và là điều làm Tâm Anh trở nên khác biệt suốt 20 năm qua cùng với nhiều giải thưởng uy tín trong nước như: Top 5 thương hiệu Việt tiêu dùng; Sản phẩm, dịch vụ vàng Việt Nam…</p>
        </div>
    </div>

</div>
<div class="row container my-5">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h3>TINH XẢO TRONG TỪNG THIẾT KẾ</h3>
        <p class="text-justify">Đồ Da Tâm Anh chuyên cung cấp các phụ kiện thời trang từ da thật cho nam với kinh nghiệm hơn 20 năm sản xuất đồ da thật uy tín trên thị trường các dòng phụ kiện da: Giày, Ví, Thắt lưng, Túi xách, Găng Tay, Dây đồng hồ.</p>
        <p class="text-justify">Đồ da Tâm Anh đã và đang khẳng định vị thế của mình trong lòng phái mạnh bằng chất lượng sản phẩm, đây cũng chính là giá trị cốt lõi và là điều làm Tâm Anh trở nên khác biệt suốt 20 năm qua cùng với nhiều giải thưởng uy tín trong nước như: Top 5 thương hiệu Việt tiêu dùng; Sản phẩm, dịch vụ vàng Việt Nam…</p>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="img_hover">
            <img src="https://tamanh.net/wp-content/uploads/2019/03/img-suutap2-min.jpg" alt="">
        </div>
    </div>
</div>
<div class="product bg-light">
    <div class="text-center mt-5">
        <img src="https://tamanh.net/wp-content/themes/banhang/images/number_two.png" alt="">
        <h3 class="text-uppercase">SẢN PHẨM BÁN CHẠY</h3>
    </div>

    <div class="row container">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
            <div class="product_item">
                <div class="product_img">
                    <img class="w-100" src="https://tamanh.net/wp-content/uploads/2020/06/that-lung-dep-da-bo-nguyen-mieng-d390-202022-1.jpg" alt="">
                </div>
                <div class="show pb-3">
                    <p class="text-uppercase text-center text-color my-2">
                        390.000 đ
                    </p>
                    <p class="text-center">
                        Thắt lưng đẹp da bò nguyên miếng D390-202022
                    </p>
                </div>
            </div>

        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
            <div class="product_item">
                <div class="product_img">
                    <img class="w-100" src="https://tamanh.net/wp-content/uploads/2020/05/giay-da-bo-nam-dep-quai-da-ngang-tinh-te-gnta2816-d..jpg" alt="">
                </div>
                <div class="show pb-3">
                    <p class="text-uppercase text-center text-color my-2">
                        390.000 đ
                    </p>
                    <p class="text-center">
                        Thắt lưng đẹp da bò nguyên miếng D390-202022
                    </p>
                </div>
            </div>

        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
            <div class="product_item">
                <div class="product_img">
                    <img class="w-100" src="https://tamanh.net/wp-content/uploads/2019/06/cap-da-nam-mau-den-vien-chi-noi-tta917405115-d-1.jpg" alt="">
                </div>
                <div class="show pb-3">
                    <p class="text-uppercase text-center text-color my-2">
                        390.000 đ
                    </p>
                    <p class="text-center">
                        Thắt lưng đẹp da bò nguyên miếng D390-202022
                    </p>
                </div>
            </div>

        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
            <div class="product_item">
                <div class="product_img">
                    <img class="w-100" src="https://tamanh.net/wp-content/uploads/2017/07/vi-nam-tam-anh-VNTAD-31D.jpg" alt="">
                </div>
                <div class="show pb-3">
                    <p class="text-uppercase text-center text-color my-2">
                        390.000 đ
                    </p>
                    <p class="text-center">
                        Thắt lưng đẹp da bò nguyên miếng D390-202022
                    </p>
                </div>
            </div>

        </div>
        <div class="p-5 text-center ">
            <a href=""><p class="text-color text-border text-uppercase">Xem tất cả sản phẩm</p></a>
        </div>
    </div>


</div>
<div class="review my-5">
    <h3 class="text-center text-color">REVIEWS</h3>
    <div class="row container">

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="p-4 text-center">
                <img class="rounded-circle" src="https://tamanh.net/wp-content/uploads/2019/03/nguyen-dinh-thien-nvvp-min.png" alt="">
            </div>
            <div class="text-center">
                <h5>NGUYỄN ĐÌNH THIỆN</h5>
                <p>Nhân viên văn phòng</p>
            </div>
            <p class="text-justify">
                Mình đã mua ví của Tâm Anh cho bản thân dùng cũng như mua tặng khá nhiều. Chất lượng ví Tâm Anh mình thấy trội hơn hẳn các nhãn khác với cùng mức giá vì dùng lâu mà chất da vẫn mềm. Mẫu ví thì khá hợp ý mình vì có nhiều ngăn đựng thẻ (tiện cho người ít dùng tiền mặt như mình
            </p>
            <p class="text-center">
                2020-11-24 13:34:17- <i class="fas fa-star text-color"></i>
                <i class="fas fa-star text-color"></i>
                <i class="fas fa-star text-color"></i>
                <i class="fas fa-star text-color"></i>
                <i class="fas fa-star text-color"></i>
            </p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="p-4 text-center">
                <img class="rounded-circle" src="https://tamanh.net/wp-content/uploads/2019/03/nguyen-dinh-thien-nvvp-min.png" alt="">
            </div>
            <div class="text-center">
                <h5>NGUYỄN ĐÌNH THIỆN</h5>
                <p>Nhân viên văn phòng</p>
            </div>
            <p class="text-justify">
                Mình đã mua ví của Tâm Anh cho bản thân dùng cũng như mua tặng khá nhiều. Chất lượng ví Tâm Anh mình thấy trội hơn hẳn các nhãn khác với cùng mức giá vì dùng lâu mà chất da vẫn mềm. Mẫu ví thì khá hợp ý mình vì có nhiều ngăn đựng thẻ (tiện cho người ít dùng tiền mặt như mình
            </p>
            <p class="text-center">
                2020-11-24 13:34:17- <i class="fas fa-star text-color"></i>
                <i class="fas fa-star text-color"></i>
                <i class="fas fa-star text-color"></i>
                <i class="fas fa-star text-color"></i>
                <i class="fas fa-star text-color"></i>
            </p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="p-4 text-center">
                <img class="rounded-circle" src="https://tamanh.net/wp-content/uploads/2019/03/nguyen-dinh-thien-nvvp-min.png" alt="">
            </div>
            <div class="text-center">
                <h5>NGUYỄN ĐÌNH THIỆN</h5>
                <p>Nhân viên văn phòng</p>
            </div>
            <p class="text-justify">
                Mình đã mua ví của Tâm Anh cho bản thân dùng cũng như mua tặng khá nhiều. Chất lượng ví Tâm Anh mình thấy trội hơn hẳn các nhãn khác với cùng mức giá vì dùng lâu mà chất da vẫn mềm. Mẫu ví thì khá hợp ý mình vì có nhiều ngăn đựng thẻ (tiện cho người ít dùng tiền mặt như mình
            </p>
            <p class="text-center">
                2020-11-24 13:34:17- <i class="fas fa-star text-color"></i>
                <i class="fas fa-star text-color"></i>
                <i class="fas fa-star text-color"></i>
                <i class="fas fa-star text-color"></i>
                <i class="fas fa-star text-color"></i>
            </p>
        </div>


    </div>
</div>