@model BTL.Models.TaiKhoan

@{
    ViewBag.Title = "register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Đăng nhập | Đăng kí</title>
    <link rel="stylesheet" href="~/wwwroot/User/css/login.css" />
    <script type="text/javascript" src="~/wwwroot/js/admin/product/index.js"></script>
</head><!--/head-->

<body>
    <!--header bố cục trang -->
    <div class="login-wrap" style="margin-top: 30px; margin-bottom: 400px">
        <div class="login-html" style="background-color: burlywood; height: 900px">
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label style="font-weight: bolder" for="tab-2" class="tab">ĐĂNG KÝ</label>
            <div class="login-form">
                <div>
                    @using (Html.BeginForm("register", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "draw_form", @id = "draw_form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="group">
                            <input class="form-control" placeholder="Tên Đăng Nhập" type="text" id="thiet_ke_san_pham" name="tenDangNhap" />
                        </div>
                        <div class="group">
                            <input class="form-control" placeholder="Mật khẩu" type="password" id="thiet_ke_san_pham" name="password" />
                        </div>
                        <div class="group">
                            <input class="form-control" placeholder="Nhập lại Mật khẩu" type="password" id="thiet_ke_san_pham" name="retrypassword" />
                        </div>
                        <div class="group">
                            <input class="form-control" placeholder="Địa chỉ email" type="text" id="thiet_ke_san_pham" name="email" />
                        </div>
                        <div class="group">
                            <input class="form-control" placeholder="Họ và tên" type="text" id="thiet_ke_san_pham" name="hoTen" />
                        </div>
                        <div class="group">
                            <input class="form-control" placeholder="Địa chỉ" type="text" id="thiet_ke_san_pham" name="diachi" />
                        </div>
                        <div class="group">
                            <input class="form-control" placeholder="Số điện thoại" type="text" id="thiet_ke_san_pham" name="sdt" />
                        </div>
                        <div class="group">
                            <label for="avatar_nguoi_dung">
                                <img id="img_avatar_nguoi_dung" src="~/wwwroot/Images/unnamed.jpg" width="240px" height="240px" />
                            </label>
                            <input type="file" id="avatar_nguoi_dung" onchange="handleAvatar(event)" name="ImageFile" />
                            <input name="anh" id="product_img" style="display: none" />
                        </div>
                        <div class="group">
                            <p> @ViewBag.errorPass</p>
                        </div>
                        <div class="group">
                            <input style="background-color: aliceblue; color: black; font-weight: bolder" type="submit" class="button" value="Đăng ký">
                        </div>
                        <div class="hr"></div>
                    }
                </div>
            </div>
        </div>
    </div>




    <!--header bố cục trang -->


</body>
</html>

