
@{
    ViewBag.Title = "TinTuc";
}

<div class="container">

    <div class="row">
        <div class="header_gt col-5">
            <h2 class="mt-4">TIN TỨC</h2>
        </div>

    </div>


    <div class="row my-4">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img width="100%" src="https://tamanh.net/wp-content/uploads/2021/07/huong-dan-chon-size-giay-chuan-nhat-1-570x270.jpg" alt="">
            <h5 class="my-2 fs-5 hover-color">Cách chọn size giày Nike vừa chân người Việt chính xác nhất</h5>
            <p>Nếu bạn là một trong những tín đồ của giày thể thao thì chắc chắn không thể không biết đến thương hiệu giày Nike nổi tiếng....</p>
            <h5 class="my-4 "><a class="text-color text-border-bottom" href="">Xem thêm</a></h5>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <img src="https://tamanh.net/wp-content/uploads/2021/07/phong-cach-streetwear-10-270x270.jpg" alt="">
            <h5 class="my-2 fs-5 hover-color">Streetwear là gì? Phong cách streetwear hot trend hiện nay</h5>
            <p>Khởi nguồn từ những chiếc áo Hoodie cùng những đôi giày năng động, phong cách streetwear từ khi hình thành đến nay vẫn được rất nhiều tín đồ...</p>
            <h5 class="my-4 "><a class="text-color text-border-bottom" href="">Xem thêm</a></h5>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <img src="https://tamanh.net/wp-content/uploads/2021/07/kinh-nghiem-mua-giay-nike-chuan-chinh-hang-nhat-4-270x270.jpg" alt="">
            <h5 class="my-2 fs-5 hover-color">Chia Sẻ Kinh Nghiệm Mua Giày Nike Chuẩn Chính Hãng</h5>
            <p>Bạn là người ưa thích thể thao và đam mê vận động đồng thời là tín đồ của giày nike chính hãng. Và mỗi lần chọn giày bạn...</p>
            <h5 class="my-4 "><a class="text-color text-border-bottom" href="">Xem thêm</a></h5>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <img src="https://tamanh.net/wp-content/uploads/2021/07/Legit-la-gi-270x270.jpg" alt="">
            <h6 class="my-2 fs-5 hover-color text-uppercase">Legit là gì? Legit ảnh hưởng tới giới chơi giày sneaker ra sao</h6>
            <p>Check legit là một trong những việc làm cần thiết giúp dân “ghiền” sneaker phân biệt được đôi giày mà họ đang đi là real hay fake dù...</p>
            <h5 class="my-4 "><a class="text-color text-border-bottom" href="">Xem thêm</a></h5>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <img src="https://tamanh.net/wp-content/uploads/2021/07/bo-suit-cho-quy-ong-270x270.jpg" alt="">
            <h6 class="my-2 fs-5 hover-color text-uppercase">Suit Là Gì? Cách Phân Biệt Suit với Blazer Và Vest</h6>
            <p>Quý ông muốn thể hiện phong cách lịch lãm và gu thời trang thời thượng của mình thì chắc chắn không thể thiếu những bộ suit...</p>
            <h5 class="my-4 "><a class="text-color text-border-bottom" href="">Xem thêm</a></h5>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <img src="https://tamanh.net/wp-content/uploads/2021/07/genuine-leather-la-gi-uu-nhuoc-diem-kien-thuc-ve-genuine-leather-1-270x270.jpg" alt="">
            <h6 class="my-2 fs-5 hover-color text-uppercase">Genuine Leather là gì? Ưu nhược điểm kiến thức về Genuine Leather</h6>
            <p>Hiện nay, những phụ kiện thời trang được làm từ chất liệu da cao cấp không còn là điều quá xa vời mà đã trở nên...</p>
            <h5 class="my-4 "><a class="text-color text-border-bottom" href="">Xem thêm</a></h5>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <img src="https://tamanh.net/wp-content/uploads/2021/07/vai-oxford-trong-san-xuat-balo-tui-xach-1-270x270.png" alt="">
            <h6 class="my-2 fs-5 hover-color text-uppercase">Vải Oxford là gì? Phân loại, ưu nhược điểm, ứng dụng Vải Oxford</h6>
            <p>Vải Oxford là một trong những chất liệu vải đang rất được ưa chuộng và tiêu dùng hiện nay trên thị trường thời trang. Bên cạnh các sản...</p>
            <h5 class="my-4 "><a class="text-color text-border-bottom" href="">Xem thêm</a></h5>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <img src="https://tamanh.net/wp-content/uploads/2021/07/may-danh-giay-tot-nhat-hien-nay-270x270.jpg" alt="">
            <h6 class="my-2 fs-5 hover-color text-uppercase">Review 9 máy đánh bóng giày được sử dụng nhiều nhất 2021</h6>
            <p>Để giữ cho đôi giày luôn sạch sẽ như mới, chắc chắn bạn sẽ cần tới những chiếc máy đánh bóng giày. Hiện nay...</p>
            <h5 class="my-4 "><a class="text-color text-border-bottom" href="">Xem thêm</a></h5>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <img src="https://tamanh.net/wp-content/uploads/2021/07/giay-proper-x-vans-vault-long-beach-native-9-270x270.jpg" alt="">
            <h6 class="my-2 fs-5 hover-color text-uppercase">Giày Vans là giày gì? Top 10 Mẫu Giày Vans Hot Nhất 2021</h6>
            <p>Đối với các chàng trai theo đuổi phong cách trẻ trung, năng động thì không thể không biết đến thương hiệu giày vans đình đám trên...</p>
            <h5 class="my-4 "><a class="text-color text-border-bottom" href="">Xem thêm</a></h5>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img src="https://tamanh.net/wp-content/uploads/2021/07/cach-chon-giay-tay-nam-hop-phong-cach-4-570x270.jpg" alt="">
            <h6 class="my-2 fs-5 hover-color text-uppercase">Cách Chọn Giày Tây Nam Hợp Phong Cách, Hợp Tuổi</h6>
            <p>Giày tây là một món phụ kiện không thể thiếu đối với phái mạnh. Tuy nhiên để chọn được một đôi giày hợp gu thể hiện cá tính...</p>
            <h5 class="my-4 "><a class="text-color text-border-bottom" href="">Xem thêm</a></h5>
        </div>

    </div>
</div>

