
@{
    ViewBag.Title = "Profile";
}

@section loadScript {
    <link rel="stylesheet" href="~/wwwroot/styles/admin/profile.css" />
}

<section class="profile_list">
    <div class="profile_1">
        <div class="content_profile">
            <h1 class="name_profile">Hà Văn Hưng</h1>
            <img class="avatar" src="~/wwwroot/asset/images/admin/avatar.jpg" alt="" width="130px" height="130px" />
            <p class="slogan">Hãy làm việc hết mình, những điều tốt đẹp sẽ đến với bạn!!!</p>
            <p class="slogan">Do your best, the rest will come !</p>
            <div class="other">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-invision"></i>
            </div>
        </div>
    </div>
    <div class=profile_2>
        <img class="cover" src="~/wwwroot/asset/images/admin/cover.jpg" alt="" />
        <div class="content_profile2">
            <i class="fas fa-plus icon_plus"></i>
            <div>
                <p>Dự án</p>
                <span>5</span>
            </div>
            <div>
                <p>Lượt theo dõi</p>
                <span>0</span>
            </div>
            <div>
                <p>Lượt thích</p>
                <span>0</span>
            </div>
        </div>
    </div>
</section>

